@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #23252c;
}

.App-container {
  color: white;
  background-color: #1a1b21;
  margin: 30px auto 30px;
  width: 317px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.Info-header > img {
  width: 317px;
  height: 317px;
  object-fit: cover;
}

.Info-name {
  font-size: 25px;
  color: #ffffff;
  margin: 21px 0 0;
}

.Info-role {
  font-weight: normal;
  font-size: 12.8px;
  color: #f3bf99;
  margin: 6.19px 0 0;
}

.Info-website {
  margin: 9px 0 0;
  display: block;
  text-decoration: none;
  font-size: 10.24px;
  color: #f5f5f5;
}

.Info-website:hover {
  text-decoration: underline;
}

.Info-buttons {
  height: 34px;
  margin: 15px 0 0;
}

.Info-buttons > a {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  padding: 9px 11px;
  width: 115px;
  font-weight: 500;
}

.Info-buttons .Info-mailto {
  margin-right: 17px;
  background-color: white;
  color: #374151;
}

.Info-linkedin {
  color: white;
  background-color: #5093e2;
}

.AboutInterestWrapper {
  margin-left: 36px;
  margin-right: 34px;
  width: 247px;
  height: 201px;
  text-align: left;
}

.AboutInterestWrapper > h3 {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 150%;
}

.AboutInterestWrapper > p {
  font-size: 10.24px;
  line-height: 150%;
  color: #dcdcdc;
  margin: 5px 0 0;

}

.About-h3 {
  margin: 33px 0 0;
}

.Interests-h3 {
  margin: 17px 0 0;
}

.Footer {
  background-color: #161619;
  height: 64px;
  margin: 24px 0 0;
  padding: 0 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer-icon {
  color: #918E9B;
}